<p *ngIf="isCooker">
  <button class="waves-effect waves-light btn" routerLink="/main/menu/orders">Перейти в меню заказов</button>
  <button class="waves-effect waves-light btn" routerLink="/main/menu/manage">Перейти в меню редактирования</button>
</p>
<div *ngFor="let f of foods; let i = index;" >
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{ f.name }}</span>
          <text class="listElement"> Описание:</text>
          <text>{{ f.description }}</text><br/>
          <text class="listElement"> Примерное время приготовления:</text>
          <text>{{ f.cookingTime }}</text>
        </div>
        <div class="card-action">
        <a class="order"  (click)="order(f)" >Заказать</a>
        </div>
      </div>
    </div>
  </div>
</div>


