<div class="content">
  <div class="registrationFilds">
      <input type="text" pInputText [(ngModel)]="userName" placeholder="Имя"/><br/>
      <input type="text" pInputText [(ngModel)]="userSurname" placeholder="Фамилия"/><br/>
      <input type="password" pPassword [feedback]="false" placeholder="Пароль" [(ngModel)]="userPassword"/><br/>
      <input type="password" pPassword [feedback]="false" placeholder="Подтверждение пароля" [(ngModel)]="userPasswordProve"/><br/>
      <input type="text" pInputText  [(ngModel)]="userLogin" placeholder="Логин"/><br/>
      <input type="text" pInputText placeholder="Почта" [(ngModel)]="userEmail"/><br/>
  </div>
  <button pButton class="waves-effect waves-light btn" (click)="register()"  type="button" label="Регистрация" >Регистрация</button><br/>
  <a routerLink="/">Авторизация</a>
  <div class="sendErr">{{ registrationError }}</div>
</div>
