.regErr{
  color: blue;
  text-align: center;
  font: 2em Arial;
  text-shadow: black 1px 1px 0, black -1px -1px 0,
  black -1px 1px 0, black 1px -1px 0;
}
.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  width: 50px;
  height: 30px;

}
