<div class="content">
  <input class="input" type="text" placeholder="Логин или почта:" [(ngModel)]="userLogin"/><br/>
  <input type="password" class="input" [feedback]="false" placeholder="Пароль:" [(ngModel)]="userPassword"/><br/>
  <button pButton class="waves-effect waves-light btn" (click)="auth()"
          style="width: 10%;
                 min-width: 100px"
          type="button" label="Войти">Войти</button>
  <a routerLink="/registration">Регистрация</a>
  <p></p>
  <input type="image" class="vk" src="https://lh3.googleusercontent.com/jaBSyffcvQroSQCAjlfd3_wFoocGdkzp6WykFyqN-o06keN8XxXRyiUjD6LNl3y5iP6N0_F8dnIAcfmqAiyWE_nfnFew8bh2MvdktauQUz0OmsLw97fVKkls_7U9zRsU8LuWrwIImeGTyA_JTwkqyCtpiY_XVJDApMHGLCS_hD3JnmfdhDTeKgC5MbPkpDXvIsVNl3Zh96tFqtU0UlgxNaxUIUap7z3ku1l40MZZdq2vpZg2WJaXoj08rwpXAWTY2XsmS6YaisZTCckN64sfamqkC4bOsMnkvjUv-354aBp-bVjydowffm-SkPbnn0DmFjPEdoSVk7zdhUxRvQghunVtKohfCbyBEDlQLEQr8tG68PY9ok1AAeLDkfn2_2mKiwm1tWxtu3C9T8OvodCp0kMygurakFhK_uth6m1usS7MTeJOsjf4kj_HGZbyh7GkhDBxlh0QdevS-tOcr1-PlB324TT8FdnTj4TW2MmOe6AjKnn4a1Bkb3Zz4fMzz1JdplS2gx90OnoKHpdArc1eyWZRUoIeqrmHZmLk-OgLTIw_s1wvH-0p501W5d-BkOOGDdKCVnqpMn6ij6G-b2K7Y6LWA0BLH0I35AUP-3-jPUR7GRc--bapq-kV-QXdhhO0KUxmNUaKSCdI2RsVKw4lLgn9Ax4RZQI=s256-no"/>
  <p class="error">{{error}}</p>
</div>

