@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  display: grid;
}

.menu-main {
  --color: #aadce6;
  width: 100%;
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 25px 0 5px;
  text-align: center;
  background: rgba(0, 0, 0, 0.53);
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #7d7d7d;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: var(--color);}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  left: 50%;
  bottom: -5px;
  background: var(--color);
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}
@media (max-width: 550px) {
  .menu-main {padding-top: 0;}
  .menu-main li {display: block;}
  .menu-main li:after {content: none;}
  .menu-main a {
    padding: 25px 0 20px;
    margin: 0 30px;
  }
}

.content {
  margin: 5%;
  padding-top: 1.5%;
  padding-bottom: 3%;
  background: rgba(0, 0, 0, 0.67);
  /*margin: 20px;*/
  min-height: 600px;
  text-align: center;
}

img {
  width: 15%;
  min-width: 200px;
  padding-top: 1.5%;
  padding-bottom: 3%;
}

.gimn {
  text-align: center;
  font-size: 90%;
}

h2 {
  padding-bottom: 1.5%;
}

