<!--The content below is only a placeholder and can be replaced.-->
<div>
  <ul class="menu-main">
    <li><a href="" class="current">Главная</a></li>
    <li><a href="">Лазарет</a></li>
    <li><a href="">Школьный Пророк</a></li>
    <li><a href="">Рейды</a></li>
    <li><a href="">Меню</a></li>
    <li><a href="">Личный кабинет</a></li>
  </ul>
  <figure class="figure">
    <img [src]="'../Resources/gryf.png'" alt="1">
  </figure>
</div>
<div class="content">

<h2>Here are some links to help you start: </h2>

</div>
