<!--<button (click)="helloUser()">Получить приветствие</button>-->
<!--<button (click)="logOut()">Выйти</button>-->
<!--The content below is only a placeholder and can be replaced.-->

<div class="content">

  <h2>Распределение баллов по факультетам: </h2>
  <img src="https://lh3.googleusercontent.com/t3f9xt29FazpZjqc_1BgeYIeNSjUGUwQV8-WdOTPiMD0IvjhCHHXJ05H-jLufYw1-gS_lDDmMnHZWlDLrxepBlFmMOQtKU00uqx44pH5-3J-k-spGdM62LMoH-mIqJyf3MM8JyQsiLDspZ0NQx_GfVZTZdmN7VyarsKP1HfjA3USJN7TxVMu8ixlbvYSfOhj7M0sprndmT3lU0X4W_trotS64FlRci7b8HNFT1BKYMmPpBlkwKq8DddJ2KrWZyt25uelKu3okk0LkBLdxAEUrl_kg_P-gpVpaqAfkk-1vGO9vhjeU2g0dW7iz23vbRoSSRgYGPk9mtsPRKmZa1L1vV2XqQ3ah3zK_deqQtdRujbjaNNdPLQFKGQ27UmrqpQ1TjdteQGxY5gdbbFkHZ7D_zhcXzpmJT-eHCCwgxSXjCcfHM5KwBGQnGLl11PesDZLXsI1fTekESIRvnzvadjovrO6nXHj_AcsSJEr-NTgg1IkXLv6pBBnHRggx9dNT2t3boWCa3j8gUDKVx86xSIbAonceaZVUl1dyZ3FVMO6PiVr5uQtqwZh3SG3XAJw5V3lYrgGwqn5A3QI0JKi6Nd5cR4HyeUwmc5PKnHRUS4K8_zd9FupGiakZXs2Lc9Vv_vuAzOiABDSZB_HP-0paE3VwHdQLUYpWPA=w304-h256-no" alt="1"/>
  <img src="https://lh3.googleusercontent.com/8x62OqHudKhyjAJpxBSuJWF0g91ebKUy2R-VkKq0DJbxsx_hrXyl903_FNno_UgtMvhpTBJPbAlskE9Dddv3NEK0MXB145Z_u_LFSZvMvSbSTH7Um_twdW0oagmILtvA5Bti3mEurKohA6TyVTpGL6_3k3Z6FFNWTZIxdA4JKA2Zv6ET54yHZNvzmSsHauKkGUtVOmZjx0dVW-Ca_BvzPXGkP3-L34I4C16WCnkSInEUEwYNq_mNukSv_HKji6s7TytaWjrUoLFAc90ZfTMi2qq4jeJKT-9aeZWTshiFQEaOD43QKhK0eQealCexGfMOCDYYvk5JBr2u6WFusn31ye5j8YP1wda_5VGqpfpIGJNlkwUTD4-KGP0zH3E70O3LEZwe5doSBUDm2hK2a-c-rUNt8uKtwf1SUNSRcI99fpyk5WrpmGQh611bpICZ94SbN6hf86F_zoJtNpt2AMBG-I25JUlswsFridhRN93KiYVSHY7B1IjvoYjzt78tM4b_QDiN0RmiGrx5GWpCjxqUKYSP60xgJsWv-gTHSYPzpKgPYRVhDcPwnwpIhXkr0_qzuLHWRqk4R4hiU6SK3C6MvL0vrq81VTXgM-K8vgUGbonapMDm2cLyfCBLTkQGr-oBtQmzghquVpJOMvqrp1_krNAdFE4E9r0=w304-h256-no" alt="1"/>
  <img src="https://lh3.googleusercontent.com/taFqiRyPK0PNvwtAVKyrsQZ71CLUsrfGy8bNCueDe8nb5FSRhBIjtze7M16xda2lLAYg5GHl5Xx1Jgp_1FDIzPBe4PGLv7aoIN7mE2U0VswA1680u0i3UkBqNiNC4dD51AY4cGt_7YTjqWdr-zHW7hzWA0ALtSE1bgXlzZ8jIRHHLWuHKCzcmhxrs1bGh4X6_H9PW8EplJDEQDEcYU3ChrmWylL9DDJ59Rxncuq_RZrDTUxFmE0b5aqW2HCRSk_L49AYhZEKxE1sP8Nn375JEvolxJQfVA63mqc_mmN3pE3Nj2YPggi3OycsyFrXGce6rU8DZgIzYpmA4VulCVixW-OXlVsO9z6MAJiTBXTjmoyTIru0LFcTrsLqWbB1ubgNiSFjJXbaVs2wblQEprzGbvf6gdz6aGGIlgFkavv7anks7HsoVrmt_mLAaF7b_R_hfU3_PoLykJAfMjFzafsbxKgdOausSnwgh5qS0rNUo2z9DrJZe5ix5R7KYFGf0bNUTMlZs7Gq9kMY4cHETx3LtQcd4Z3gKDBQt18WoqjDAmYK9UMjQ6jw5urE1JlIQ2GI9dDKjHztp2GBHuEPygI60tsuygLRHhf_83VrqJPktbkYerWuB8cwplw4Mk48fZvbepK_sGr6frd0SaGWy-4Xh9Ch2DDl0vk=w304-h256-no" alt="1"/>
  <img src="https://lh3.googleusercontent.com/cR8xYeQYF7ZYosl6lOD52bh1qYgXS5s7cX-M7j2kjBMgB4aAqEUlkDVq4Foz4HMnMblsHpRj2TEvXjZWEtg35IZuOWGBVO33sANt98-yO9ejepFEPrDtUgaL8gRyCVOfn_lr5pKftymHiqPxJdQHm2LnLvHMry5FpAbJMkIOyma8Zs1CSToE0KHKqyj3bCAMYV5XZpKyTaZ5MqczlpZiEDvECTXdl6HR5KXWqyt5a_NwRcUiH9SAF5WMayBkSyJsZ8dFq5NgjZHUbvEHssl5gQqRBLbcD0hFNZBrwAM-fw0itUo5p9kthZpjeEs4SH9mxuQFcJvCE4awQEiq4TN9WI2GAQBQal8UA_muxiXqK5-ZsU73X23Niln_inQIKs0vfxUG8CxL2EIdnGDNbYLiNqD4rF_fueptQy8znxAkxoe2qsLC-hz_Eqm0M0UE6q_jP1_7ZYiL8yFB8AzbxiC9QFj9WPvhBDlQs4awTAL8_mJ_DN6Sh7POKPvzy-x7xdA1CS5GzvdiPv-Qp-veJdNyzAT53GVupR0pPsdayF6eD2DZFzNd_rT6AntMgYFHwBDGrvFRlBG2UZ-hsMGiPiq6dGDvZ0UnEmhVODt8OOTIFL6B2YNA7YBep5-gF7hORhGBJrdWtN179vG6Oojeik62qQW2AttrCAM=w304-h256-no" alt="1"/>
  <div class="gimn">
    <h2>Гимн Хогвартса: </h2>
    <p>Хогвартс, Хогвартс, наш любимый Хогвартс,</p>
    <p>Научи нас хоть чему-нибудь.</p>
    <p>Молодых и старых, лысых и косматых,</p>
    <p>Возраст ведь не важен, а важна лишь суть.</p>
    <p>В наших головах сейчас гуляет ветер,</p>
    <p>В них пусто и уныло, и кучи дохлых мух,</p>
    <p>Но для знаний место в них всегда найдётся,</p>
    <p>Так что научи нас хоть чему-нибудь.</p>
    <p>Если что забудем, ты уж нам напомни,</p>
    <p>А если не знаем, ты нам объясни.</p>
    <p>Сделай всё, что сможешь, наш любимый Хогвартс,</p>
    <p>А мы уж постараемся тебя не подвести.</p>
  </div>
</div>
