@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

.content {
  margin: 5%;
  padding-top: 1.5%;
  padding-bottom: 3%;
  background: rgba(0, 0, 0, 0.67);
  /*margin: 20px;*/
  min-height: 600px;
  text-align: center;
}
