.content {
  margin: 5%;
  padding-top: 1.5%;
  padding-bottom: 3%;
  background: rgba(0, 0, 0, 0.67);
  /*margin: 20px;*/
  min-height: 600px;
  text-align: center;
}

.table_blur {
  background: rgba(0, 0, 0, 0);
  border-collapse: collapse;
  text-align: left;
  font-size: 70%;
}
.table_blur th {
  background: linear-gradient(#715c69, #393751);
  color: #b7b7b7;
  /*padding: 10px 15px;*/
  position: relative;
}
.table_blur th:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 25%;
  height: 25%;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255,255,255,.08));
}
.table_blur tr:nth-child(odd) {
  background: rgba(235, 243, 249, 0);
}
.table_blur td {
  border-bottom: 2px solid #272627;
  border-top: 2px solid #272627;
  padding: 10px 15px;
  position: relative;
  transition: all 0.5s ease;
}
.table_blur tbody:hover td {
  color: transparent;
  text-shadow: 0 0 3px #a09f9d;
}
.table_blur tbody:hover tr:hover td {
  color: #ebf3f9;
  text-shadow: none;
}
.sendErr{
  color: #b33920;
  /*text-align: center;*/
  /*font: 2em Arial;*/
  /*text-shadow: black 1px 1px 0, black -1px -1px 0,*/
  /*black -1px 1px 0, black 1px -1px 0;*/
}
